<div class="well">
  <div>
    <% if @usuario.sexo == false %>
      <%= image_tag ("hombre.png"), :height => '150', :width => '150' %>
    <% else %>
      <%= image_tag ('mujer.png'), :height => '150', :width => '150' %>
    <% end %>
    <h1><%= @usuario.username %> </h1>
  </div>
  <h4>
    <b>Sexo: </b>
      <% if @usuario.sexo == false %>
        Hombre
      <% else %>
        Mujer
      <% end %>
  </h4>
	<h4><b>Correo electrónico: </b><%= @usuario.email %> </h4>

	<%= render 'follow_form' if logged_in? %>
</div>	
<div class="well">

      <%= render 'show_follows' %>
</div>
<% if current_user.id == @usuario.id %>
  <h1>Mis Posts</h1>
<% else %>
  <h1>Post de <%= @usuario.username %></h1>
<% end %> 
<ul class="thumbnails" id='posts'>
  <% if @posts.empty? %>
    <% if current_user.id == @usuario.id %>
      <h2>¡No has subido ningún post, sube el primero!</h2>
    <% else %>
      <h3> <%= @usuario.username %> aún no ha subido ningún post.</h3>
    <% end %> 
  <% else %>
    <% @posts.each do |post| %>
      <div id='post'>
        <li class="span3">
          <div class="thumbnail">
            <% if post.has_photo? %>
              <%= link_to (image_tag post.photo_path), post %>
            <% end %>
            <div class='caption'>
              <h3> <%= link_to post.titulo, post %></h3>
              <% if current_user.id == @usuario.id or current_user.admin? %>
                <%= link_to 'Editar', edit_post_path(post), class: :"btn btn-warning btn-primary active" %>
                <%= link_to 'Eliminar', post, confirm: '¿Esta seguro de que desea eliminar este post?', method: :delete, class: :"btn btn-danger active" %>
              <% end %>
            </div>
          </div>
        </li>
      </div>
    <% end %>
  <% end %>
</ul>


<br/>
<% if current_user.id == @usuario.id %>
	<%= link_to 'Nuevo Post', new_post_path, class: :"btn btn-large btn-primary active" %>
<% end %>
<% if request.headers["HTTP_REFERER"] != "http://localhost:3000/register" %>
  <%= link_to 'Atrás', :back, class: :"btn btn-large btn-primary active" %>
<% end %>
